 <footer class="footer bg-dark pt-5">
      <div class="container">
        <div class="row pb-2">
          <div class="col-md-4 col-sm-6">
            <div class="widget widget-links widget-light pb-2 mb-4">
              <h3 class="widget-title text-light">Shop departments</h3>
              <ul class="widget-list">
                {{#each categories}}
                <li class="widget-list-item"><a class="widget-list-link" href="/category/{{name}}/{{_id}}">{{name}}</a></li>
                {{/each}}
                
               
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="widget widget-links widget-light pb-2 mb-4">
              <h3 class="widget-title text-light">Account &amp; shipping info</h3>
              <ul class="widget-list">
                <li class="widget-list-item"><a class="widget-list-link" href="/profile-settings">Your account</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="/profile-address">Shipping Address</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="/orders">Order History</a></li>
               
              </ul>
            </div>
            
          </div>
          <div class="col-md-4">
            <div class="widget pb-2 mb-4">
               <div class="d-flex"><i class="ci-card text-primary" style="font-size: 2.25rem;"></i>
                <div class="ps-3">
                  <h6 class="fs-base text-light mb-1">Secure online payment</h6>
                  <p class="mb-0 fs-ms text-light opacity-50">We possess paypal-payment</p>
                </div>
              </div>
              
            </div>
           
          </div>
        </div>
      </div>
      <div class="pb-4 fs-xs text-light opacity-50 text-center ">© All rights reserved. Made by <a class="text-light"  target="_blank" rel="noopener">Revathy M</a></div>
      
    </footer>