<div class="col-lg-3 col-md-4 col-12 border-end  d-none d-md-block">
    <div class="pt-10 pe-lg-10">
    <!-- nav item -->
    <ul class="nav flex-column nav-pills nav-pills-dark">
        <li class="nav-item">
        <a class="nav-link {{#if orders}}active{{else}} {{/if}}" href="/orders"><i
            class="feather-icon icon-shopping-bag me-2"></i>Your Orders</a>
        </li>
        <li class="nav-item">
        <a class="nav-link {{#if address}}active{{else}} {{/if}}" href="/profile-address"><i
            class="feather-icon icon-map-pin me-2"></i>Address</a>
        </li>
         <a class="nav-link {{#if profileSettings}}active{{else}} {{/if}}" href="/profile-settings"><i
            class="feather-icon icon-shopping-bag me-2"></i>Profile Settings</a>
        </li>
        <!-- nav item -->
        <li class="nav-item">
        <hr>
        </li>
        <!-- nav item -->
        <li class="nav-item">
        <a class="nav-link " href="/signout"><i class="feather-icon icon-log-out me-2"></i>Log out</a>
        </li>
    </ul>
    </div>
</div>


