<body class="handheld-toolbar-enabled">
    <main class="page-wrapper">
        <div class="container pb-5 mb-sm-4">
            <div class="pt-5">
                <div class="card py-3 mt-sm-3">
                    <div class="card-body text-center">
                        <h2 class="h4 pb-3">Your email address has been verified.</h2>
                        <a href="/user/signin" class="btn btn-primary ms-2">Click here to login</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>